 
 .login-field{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  } 

  .login-field label{
    position: absolute;
    top: 45%;  
    transform: translateY(-50%);
    left: 2px;
    transition: all 0.3s ease;
  }
  
  .login-input:focus + .login-label,
  .login-input:valid + .login-label{
    font-size: 16px;
  }
  
  .login-btn:active{
  transform: scale(0.99);
  }

  @media screen and (max-width: 500px) {
    .login-form{
      height: 100vh;
      border-radius: 0;
      margin: 0;
    }
  }   


  